---
layout: default
title: Home
---

<!DOCTYPE html>                                                                                                                                           
<!-- <pre>
  ___     ___    ___      ___       ________  ________     
  |\  \   |\  \  /  /|    |\  \     |\   __  \|\   __  \    
  \ \  \  \ \  \/  / /    \ \  \    \ \  \|\  \ \  \|\ /_   
   \ \  \  \ \    / /      \ \  \    \ \   __  \ \   __  \  
    \ \  \  /     \/        \ \  \____\ \  \ \  \ \  \|\  \ 
     \ \__\/  /\   \         \ \_______\ \__\ \__\ \_______\
      \|__/__/ /\ __\         \|_______|\|__|\|__|\|_______|
          |__|/ \|__|                                       
                                                                                                                                                   
</pre>    -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap" rel="stylesheet">


<img class="img-responsive" src="figures/labASCII.png" alt=""><br>
<img class="img-responsive" src="figures/picnic.jpg" alt=""><br>





<script>
  function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");
  
    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
  }
</script>
                                                                                                                                                  
<!-- <pre>
    __  ____________   __          __  
   / / / / ____/  _/  / /   ____ _/ /_ 
  / /_/ / /    / /   / /   / __ `/ __ \
 / __  / /____/ /   / /___/ /_/ / /_/ /
/_/ /_/\____/___/  /_____/\__,_/_.___/ 
                                      
</pre>                                                                                                                                                -->

<body>

<style>
  * { 
    font-family: 'Noto Sans KR', sans-serif;
  }
</style>



<div style="font-family: 'Verdana', sans-serif; font-size: 25px;"><b>About IX Lab &#10024;</b></div>

<div style="font-family: 'Noto Sans KR', sans-serif; font-size: 17px;">
<br>
We are looking for passionate students interested in solving real-life issues 
from the perspective of human-computer interaction (HCI). 
IX Lab aims to quantitatively measure and evaluate the invisible interactions 
between humans and computers based on data, ultimately striving to optimize these interactions. 
We prioritize building and advancing each student's individual research area in the field of human-computer interaction. 
We welcome students who enjoy raising questions about phenomena that others might overlook and 
engaging in discussions to solve these problems. 

<br>
<br> 

IX Lab에서는 인간-컴퓨터 상호작용(HCI)의 관점에서 우리 생활과 밀접한 문제들을 정의하고 솔루션을 찾아가는 과정을 즐기는 열정적인 학생(학부연구생, 석사, 박사)들을 모집합니다.
IX Lab은 인간과 컴퓨터 사이에 눈에 보이지 않는 인터랙션을 정량적으로 측정하고 평가하여 궁극적으로는 인터랙션을 최적화하는 것을 목표로 합니다. 
데이터를 기반으로 유저의 행동과 그에 따른 퍼포먼스를 예측할 수 있는 모델을 만들고, 모델을 기반으로 시스템을 효율적으로 최적화하는 연구들을 진행합니다. 
우리 연구실은 개개인의 연구 관심 분야를 존중하며 체계적인 신입생 교육 과정을 통해 학생 개인의 연구 분야를 확립해나가는 것을 중요하게 생각합니다. 
다른 사람들은 지나칠 수 있는 현상들에 문제 삼기를 좋아하고, 이 문제를 해결하기 위해 논쟁을 즐기는 열정적인 학생을 기다립니다.

<br> 
<br> 
더불어, 연구를 경험한다는 것은 매우 매력적인 일이지만 동시에 석사, 박사 진학을 결정하는 일이 쉽지 않은 일임을 알고 있습니다. 졸업 전이라면 학부연구생을 해보는 것을 추천하며 학부연구생 및 석,박사 진학 상담을 원하는 학생들은 eunjipark(at)cau.ac.kr로 메일주세요.
</div>
<HR>


<div style="font-family: 'Verdana', sans-serif; font-size: 25px;"><b>News &#10024;</b></div>

<div style="font-family: 'Noto Sans KR', sans-serif; font-size: 16px;">
<style>
  #more {display: none;}


</style>
&#128588; <b>Jan 2024</b> Been An joined IX Lab as undergraduate researcher <br>
&#128588; <b>Dec 2023</b> Yejin Jang and Yejin Choi joined IX Lab as undergraduate researcher <br>
&#128588; <b>Nov 2023</b> Hyeonwoo and Dohwa joined IX Lab as undergraduate researcher <br> 
&#128588; <b>Sep 2023</b> Jahun joined IX Lab as an undergraduate researcher <br> 
&#127918; <b>Sep 2023</b> IX Lab visited <a href="https://www.t1.gg/">T1</a>, which has the best League of Legends team &#128171;<br>
&#127979; <b>Sep 2023</b> IX Lab started a new journey in Chung-Ang University<br>

</div>

<!-- &#10022; <b>Mar 2023</b> Received outstanding TA award from School of Computing, KAIST (CS206 Data Structure)<br> 
&#10022; <b>Feb 2023</b> 'Charlie and the Semi-Automated Factory: Data-Driven Operator Behavior and Performance Modeling for Human-Machine Collaborative Systems' paper has been accepted at CHI2023 <br>
&#10022; <b>Sep 2022</b> Received outstanding TA award from School of Computing, KAIST (CS592 Sensor Data Science)<br> 
&#10022; <b>May 2022</b> Invited to the UNIST CSE333 class seminar <br>
&#10022; <b>Feb 2022</b> Received outstanding TA award from School of Computing, KAIST (CS206 Data Structure)<br>
&#10022; <b>Dec 2021</b> Selected for NAVER Fellowship <br>
&#10022; <b>Sep 2021</b> Invited to the EIRIC (Electronic & Information Research Information Center) seminar<br>
&#10022; <b>Sep 2021</b> Served as a Student Volunteer at UbiComp/ISWC 2021. Such an amazing experience! <br> -->

<!-- <span id="dots">...</span><span id="more"> -->
<!-- &#10022; <b>Jun 2021</b> Got a research grant for Ph.D student from NRF (National Research Foundation of Korea) <br>
&#10022; <b>Mar 2021</b> 'Secrets of Gosu: Understanding Physical Combat Skills of Professional Players in First-Person Shooters' paper received an <b>Honourable Mention Award</b> at CHI2021 ! <br>            
&#10022; <b>Dec 2020</b> 'Secrets of Gosu: Understanding Physical Combat Skills of Professional Players in First-Person Shooters' paper has been accepted at CHI2021 <br>
&#10022; <b>Mar 2020</b> 'An Intermittent Click Planning Model' paper received an <b>Honourable Mention Award</b> at CHI2020 ! <br>
&#10022; <b>Feb 2020</b>  Visited New York for joint research with NYXL (New York Excelsior), the best Overwatch team in the world <br>
&#10022; <b>Dec 2019</b> 'An Intermittent Click Planning Model' paper has been accepted at CHI2020<br>
&#10022; <b>Oct 2019</b>  Got a Kimyounghan Global Leader Scholarship <br> -->
<!-- </span></p> -->
<!-- <button onclick="myFunction()" id="myBtn">Read more</button> -->

<HR>

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->
<!-- 
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->

</body>