<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              {{ site.title }}
            <small>{{ site.tagline }}</small></a>
          </h3>

          <!-- <button id="darkModeToggle" class="dark-mode-toggle" title="Toggle Dark Mode">🌙</button> -->

        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src='{{ site.baseurl }}/public/js/script.js'></script>
  </body>


  <!-- <script>
    const darkModeToggle = document.getElementById('darkModeToggle');
  
    darkModeToggle.addEventListener('click', () => {
      const current = document.documentElement.getAttribute('data-theme');
      const next = current === 'dark' ? 'light' : 'dark';
      document.documentElement.setAttribute('data-theme', next);
      localStorage.setItem('theme', next);
    });
  
    window.addEventListener('DOMContentLoaded', () => {
      const saved = localStorage.getItem('theme');
      if (saved) {
        document.documentElement.setAttribute('data-theme', saved);
      }
    });
  </script> -->
  

  
</html>
